In [7]:
m1, *t1, m2 = [80, 90, 70, 45, 95]

print(t1, type(t1)) # * -> unpacking operator

[90, 70, 45] <class 'list'>

In [4]:
t1 = [100, 200]
t2 = [300, 400]

t3 = t1 + t1 # concatenate

print(t3)

[100, 200, 100, 200]

In [ ]:
# unpacking t1 into t3

t1 = [100, 200]
t2 = [300, 400]
t3 = [50, *t1, 80] # * -> unpacking values

t3

[50, 100, 200, 80]

In [9]:
t1 = [100, 200]
t2 = [300, 400]
t3 = [*t1, *t2] # unpacking both t1 and t2 into t3

t3

[100, 200, 300, 400]

In [11]:
t1 = [100, 200]
t2 = [300, 400]
t3 = [10, *t1, 50, *t2, 90]  # flexibility ðŸ•º -> because you can add values around it

t3

[10, 100, 200, 50, 300, 400, 90]

In [ ]:
t1 = [100, 200]
t2 = [300, 400]

t3 = (10, *t1, 50, *t2, 90)  # creates a new tuple (no modification)

t3 # once tuple is now created, it cannot be mopdified

# t3[0] = 90 âŒ

(10, 100, 200, 50, 300, 400, 90)

In [ ]:
# the base address of each list remains the same
# can make modifications to the lists inside a tuple
# no modifications were made to the tuple

In [ ]:
# base address is now getting changed -> leads to an error