In [7]:
m1, *t1, m2 = [80, 90, 70, 45, 95]

print(t1, type(t1)) # * -> unpacking operator

[90, 70, 45] <class 'list'>

In [4]:
t1 = [100, 200]
t2 = [300, 400]

t3 = t1 + t1 # concatenate

print(t3)

[100, 200, 100, 200]

In [ ]:
# unpacking t1 into t3

t1 = [100, 200]
t2 = [300, 400]
t3 = [50, *t1, 80] # * -> unpacking values (copies list)

t3

[50, 100, 200, 80]

In [9]:
t1 = [100, 200]
t2 = [300, 400]
t3 = [*t1, *t2] # unpacking both t1 and t2 into t3

t3

[100, 200, 300, 400]

In [11]:
t1 = [100, 200]
t2 = [300, 400]
t3 = [10, *t1, 50, *t2, 90]  # flexibility ðŸ•º -> because you can add values around it

t3

[10, 100, 200, 50, 300, 400, 90]

In [ ]:
t1 = [100, 200]
t2 = [300, 400]

t3 = (10, *t1, 50, *t2, 90)  # creates a new tuple (no modification)

t3 # once tuple is now created, it cannot be mopdified

# t3[0] = 90 âŒ

(10, 100, 200, 50, 300, 400, 90)

In [15]:
# Can also be used to copy tuples into a new tuple

t1 = (100, 200)
t2 = (300, 400)

t3 = (10, *t1, 50, *t2, 90)  # creates a new tuple (no modification)

t3

(10, 100, 200, 50, 300, 400, 90)

In [ ]:
# the base address of each list remains the same
# can make modifications to the lists inside a tuple
# no modifications were made to the tuple

In [ ]:
# base address is now getting changed -> leads to an error

In [16]:
# Combining two dictionaries

# * -> normal unpacking operator is only used with lists
# ** -> double star -> unpacks dictionaries (still called unpacking operator)

student = {"name": "Jamie", "age": 20}
detail = {"job": "Sanlam", "country": "SA"}

all_details = {**student, **detail}  # ** -> unpacking operator

all_details

{'name': 'Jamie', 'age': 20, 'job': 'Sanlam', 'country': 'SA'}

In [ ]:
student = {"name": "Jamie", "age": 20}
detail = {"job": "Sanlam", "country": "SA", "age": 19}

all_details = {**student, **detail}  # ** -> unpacking operator

# Dictionary rule -> all keys should be unique
# there is an age in student and detail

all_details

# age will be 19 (since detail is last in all_details)

{'name': 'Jamie', 'age': 19, 'job': 'Sanlam', 'country': 'SA'}

In [ ]:
student = {"name": "Jamie", "age": 20}
detail = {"job": "Sanlam", "country": "SA", "age": 19}

all_details = {**detail, **student}  # ** -> unpacking operator

# Dictionary rule -> all keys should be unique
# there is an age in student and detail

all_details

# age will be 20 (since student is last in all_details)

In [18]:
student = {"name": "Jamie", "age": 20}
detail = {"job": "Sanlam", "country": "SA", "age": 19}

all_details = {**student, **detail}  # ** -> unpacking operator

# Dictionary rule -> all keys should be unique
# there is an age in student and detail

all_details

{'name': 'Jamie', 'age': 19, 'job': 'Sanlam', 'country': 'SA'}

In [19]:
# Last value gets prioritised
# first age value will act as the 'default'
# if nothing is mentioned -> will go to default value
# if someone mentions country code, it will overwrite the default

# least priority (default_value) is always at the first

student = {
    "name": "Jamie",
    "age": 20,
}
detail = {"job": "Sanlam", "country": "SA", "age": 19}

default_value = {"country_code": "+27"}

all_details = {
    **default_value,
    **detail,
    **student,
}  # Default_value -> always keep at first # Pattern


all_details

{'country_code': '+27',
 'job': 'Sanlam',
 'country': 'SA',
 'age': 20,
 'name': 'Jamie'}