## Task 1.1 (map or filter)
Number letter in the name
`[4, 8, 11, 15, 10, 4]`

In [ ]:
avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

# Task (map or filter)
# Number letter in the name
# [4, 8, 11, 15, 10, 4]

In [19]:
nums = map(lambda x: len(x), avengers)

print(list(nums))

[4, 8, 11, 15, 10, 4]

## Task 1.2
 
Find longer names more the 10 letters name and stored in a new list
 
Output
["Black widow", "Captain america"]

In [21]:
gt10 = filter(lambda x: len(x) > 10, avengers)

print(list(gt10))

['Black widow', 'Captain america']

## Task 1.3

Find the passed student's names (pass criteria >= 40)

Output
["Lillian Ellis", "Debra Beard",  "Nettie Hancock" ]

In [3]:
from pprint import pprint
# (makes it look nicer)

scores = [
    {
        "marks": 32,
        "name": "Yvette Merritt",
    },
    {
        "marks": 57,
        "name": "Lillian Ellis",
    },
    {
        "marks": 22,
        "name": "Mccall Carter",
    },
    {
        "marks": 21,
        "name": "Pate Collier",
    },
    {
        "marks": 91,
        "name": "Debra Beard",
    },
    {
        "marks": 75,
        "name": "Nettie Hancock",
    },
    {
        "marks": 20,
        "name": "Hatfield Hodge",
    },
]

In [2]:
from pprint import pprint
# (makes it look nicer)

scores = [
    {
        "marks": 32,
        "name": "Yvette Merritt",
    },
    {
        "marks": 57,
        "name": "Lillian Ellis",
    },
    {
        "marks": 22,
        "name": "Mccall Carter",
    },
    {
        "marks": 21,
        "name": "Pate Collier",
    },
    {
        "marks": 91,
        "name": "Debra Beard",
    },
    {
        "marks": 75,
        "name": "Nettie Hancock",
    },
    {
        "marks": 20,
        "name": "Hatfield Hodge",
    },
]

passed = list(filter(lambda x: x['marks'] >= 40, scores))
pprint(passed)
names = map(lambda student: student['name'], passed)
print(list(names))

[{'marks': 57, 'name': 'Lillian Ellis'},
 {'marks': 91, 'name': 'Debra Beard'},
 {'marks': 75, 'name': 'Nettie Hancock'}]
['Lillian Ellis', 'Debra Beard', 'Nettie Hancock']

In [4]:
names = list(
    map(
        lambda student: student["name"],
        filter(lambda student: student["marks"] >= 40, scores),
    )
)
pprint(names)

['Lillian Ellis', 'Debra Beard', 'Nettie Hancock']

## Task 1.4
Find the topper

Clue:
Use sorted() - HOF

Output
Debra Beard

In [5]:
scores = [
    {
        "marks": 32,
        "name": "Yvette Merritt",
    },
    {
        "marks": 57,
        "name": "Lillian Ellis",
    },
    {
        "marks": 22,
        "name": "Mccall Carter",
    },
    {
        "marks": 21,
        "name": "Pate Collier",
    },
    {
        "marks": 91,
        "name": "Debra Beard",
    },
    {
        "marks": 75,
        "name": "Nettie Hancock",
    },
    {
        "marks": 20,
        "name": "Hatfield Hodge",
    },
]

In [6]:
# sort
sorted_scores = sorted(scores, key=lambda student: student["marks"])

topper = sorted_scores[-1]
topper["name"]

'Debra Beard'

In [7]:
sorted_scores = sorted(scores, reverse=True, key=lambda student: student["marks"])
# sorted(pos arg, kw arg, kw arg )

topper = sorted_scores[0]
topper["name"]

'Debra Beard'